.coinTableItems {
    display: grid;
    grid-template-columns: 4% 11% 10% 7% 7% 15% 20% 21% 5%; 
    border-bottom: 0.1px solid #EFF2F5;    
    padding: 23px 0;
    align-items: center; 
    
}

.coinTableItems p {
    font-family: Inter,sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 13px;
    
  }
  