.coinTableItems {
    display: grid;
    grid-template-columns: 4% 11% 10% 7% 7% 15% 20% 21% 5%; 
    border-bottom: 0.1px solid #EFF2F5;    
    padding: 23px 0;
    align-items: center; 
    
}

.coinTableItems p {
    font-family: Inter,sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 13px;
    
  }
  
  .lossBtn,.profitBtn{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    color: #EA3943
  }

  .profitBtn{
    color: #16C784
  }

  .alignRight{
    text-align: right !important;
  }

  .indexing{
    text-align: right !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    color: #808A9D;
  }

  .name{
    text-align: left !important;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0 8px;
    font-weight: 600;
  }

  .circulatingSupply{
    text-align: right !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 4px;
  }

  .loadingBarParent{
    /* style={{ width: "160px", height: '6px', backgroundColor: '#EFF2F5', borderRadius: '8px' }} */
    width: 160px;
    height: 6px;
    background-color: #EFF2F5;
    border-radius: 8px;
  }

  .loadingBarChild{
    height: 100%;
    background-color: #CFD6E4;
    border-radius: 8px;
  }