.container{
    border-bottom: 1px solid #E5E5E5;
    padding: 11px;
}

/* destop view */

.desktopContainer{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: auto;
}

.btnContainer{
    display: flex;
    gap: 1rem;
}
.btnContainer>*{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mobileContainer{
    display: none;
}

/* mobile container */
@media screen and (max-width : 990px) {
        
    .desktopContainer{
        display: none;
    }
    .mobileContainer{
        display: flex;
        align-content: center;
        gap: 1rem;
        padding: 0px 20px;
    }

    .mobileContainer>*{
        background-color: transparent;
        cursor: pointer;
        border: none;
    }

}