.container{
    max-width: 1280px;
    margin:0 auto;
}

.title{
    font-family: Inter,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.03em;
    text-align: left;
}

.paginationBtn{
    margin: 41px 0;
    display: flex;
    justify-content: end;
}

@media screen and (max-width:990px) {
    .paginationBtn{
        justify-content: center;
    }
    .title{
        padding: 2rem 2px;
    }
  
}
